<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="assets/css/jquery.dataTables.css" rel="stylesheet">
    <link href="assets/css/docs_lite.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
         /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }
    </style>

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
	  <div id="navbar">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">open SESAME</a>
	  
            <div class="nav-collapse collapse">
              <ul class="nav">
		<li><a href="#newUser">Signup</a></li>
		<li><a href="#login">Login</a></li>
		<li><a href="#sendReset" id="sendReset">Forgot Password</a></li>
              </ul>
	     
            </div><!--/.nav-collapse -->
	  </div><!-- end navbar div -->
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
	<div id="sidebar" class="span3 bs-docs-sidebar" style="display:none">
	  
            <ul class="nav nav-list bs-docs-sidenav affix">
              <li><a href="#showHome">Home</a></li>
              <li><a href="#newGeneSig" id="newGeneSig">New Query</a></li>
              <li><a href="#jobRuns" id="jobRuns">Query Results</a></li>
            </ul>
	</div>
	<div class="span12" id="main-area">
	 
	</div>
      </div>
    </div> <!-- /container -->
    <!-- Templates -->
    <!-- Series Result Table Head -->
    <script type="text/template" id="tpl-seriesResult-table">
      <h3>Results for:</h3><h2> <%= title %></h2>
      <table id="series-result-table" class="display" border='1'>
	<thead>
	  <tr>
	    <th>Series ID </th>
	    <th>Series Title</th>
	    <th>KS p</th>
	    <th>KS q</th>
	    <th>Fisher p</th>
	    <th>Fisher q</th>
	  </tr>
	</thead>
	<tbody>
	  
	 <% _.each(resArray,function(x,y,z){ %>
	  <tr>
	    <td> <%= x["Series ID"] %> </td>
	    <td> <%= x["Series Title"] %> </td>
	    <td> <%= x["KS p"] %></td>
	    <td> <%= x["KS q"] %> </td>
	    <td> <%= x["Fisher p"] %> </td>
	    <td> <%= x["Fisher q"] %> </td>
	  </tr>
	 <% }); %>
	</tbody>
      </table>
    </script>
    <!-- Series Resutl Table Body -->
    <script type="text/template" id="tpl-seriesResult-row">
        <td><%= Series ID %></td>
        <td><%= Serise Title %></td>
	<td><%= KS p %></td>
	<td><%= KS q %></td>
	<td><%= Fisher p %></td>
	<td><%= Fisher q %></td>
	
    </script>
    <script type="text/template" id="tpl-jobRun-table">
      <table class="table " border='1'>
	<thead>
	  <tr>
	    <th></th>
	    <th>Name</th>
	    <th>Started</th>
	    <th>Status</th>
	    <th>Heat Map (PDF)</th>
	    <th width="15%">Series Results (.txt)</th>
	    <th width="10%">Signature (.txt)</th>
	    <th width="10%">Validation (.txt) </th>
	  </tr>
	</thead>
	<tbody>
	  
	</tbody>
      </table>
    </script>
    <script type="text/template" id="tpl-jobRun-row">
      <td><button class="btn btn-danger deleteJob" type="button" id="jobRun_<%= id %>" >delete</button></td>
        <td><%= inputs["name"] %></td>
        <td><%= creationDatetime %></td>
	<td><%= status %></td>
	<td>
	<% if (outputs.heatmapsPDF) { %>
           <a href='api/v2/WorkFileContents/<%= outputs.heatmapsPDF[0] %>/sesame_heatmap.pdf?token=<%= outputTokens.heatmapsPDF[0] %>'>PDF</a>
	<% }else{ %>
	no file
	<% } %>
	</td>
        <td>
	  <% if (outputs.tableTSV) { %>
           <a href='api/v2/WorkFileContents/<%= outputs.tableTSV[0] %>/sesame_outputs.csv?token=<%= outputTokens.tableTSV[0] %>'>Download</a>
	<% }else{ %>
	no file
	<% } %><br />
	<% if (outputs.tableJSON) { %>
	<a href='#seriesResults/<%= outputs.tableJSON[0] %>/<%= inputs["name"]%>' >View as Table</a>
	<% } else { %>
	no series data
	<% } %>
	</td>
        <td>
	  <% if (outputs.signature) { %>
           <a href='api/v2/WorkFileContents/<%= outputs.signature[0] %>/sesame_signature.txt?token=<%= outputTokens.signature[0] %>'>Download</a>
	<% }else{ %>
	no file
	<% } %>
	</td>
	<td>
	  <% if (outputs.validation) { %>
           <a href='api/v2/WorkFileContents/<%= outputs.validation[0] %>/sesame_validation.txt?token=<%= outputTokens.validation[0] %>'>Download</a>
	<% }else{ %>
	no file
	<% } %>
	</td>
    </script>
    <!-- signup up error message template -->
    <script type="text/template" id="tpl-signup-error">
       <div class="modal">
        <div class="modal-header">
	  <h3>
	    <div class="alert alert-error">
	      <%= error_message %>
	    </div>
	  </h3>
	</div>
        <div class="modal-body">
	  <form>
	    <ul>
	      <input type="text" class="input-block-level" id="newUserName" placeholder="New User Name">
	      <input type="text" class="input-block-level" id="newEmail" placeholder="New Email">
	      <input type="text" class="input-block-level" id="newPassword" placeholder="New Password">
	      <button class="btn btn-primary" id="saveNewUser">Sign Up</button>
	      <button id="close" class="btn">Cancel</button>
	    </ul>
	  </form>
	</div>
        <div class="modal-footer"></div>	
      </div>
    </script>
    <!-- End signup error message template -->
    <!-- signup up success message template -->
    <script type="text/template" id="tpl-signup-success">
       <div class="modal">
	 
	 <div class="modal-header">
	   <button type="button" id="closeUp" class="close">×</button>
	   <div class="alert alert-success">
	     <h3>
	      Please check your email to complete the registration
	     </h3>
	   </div>
	 </div>
	 <div class="modal-body">
	   <h2>
	     User Name: <%= username %> <br /> 
	     Email: <%= email %>
	     <h2>
	 </div>
	 <div class="modal-footer">
           <button id="close" class="button">Close</button>
	 </div>
       </div>

    </script>
    <!-- End signup success message template -->
    
    <script type="text/template" id="tpl-signup">
      
      <div class="modal fade in"  >
        <div class="modal-header">
	  <h3>Sign Up</h3>
	</div>
	<div id="sign-up-message"></div>
        <div class="modal-body" id="sign-up-body">
	  <form>
	    <ul>
	      <input type="text" class="input-block-level" id="newUserName" placeholder="New Username - 10-30 characters, alphanumeric and underscore only">
	      <input type="text" class="input-block-level" id="newEmail" placeholder="New Email">
	      <input type="password" class="input-block-level" id="newPassword" placeholder="New Password">
	      <input type="password" class="input-block-level" id="newPasswordRetype" placeholder="ReType Password">
	      <button class="btn btn-primary" id="saveNewUser" type="button">Sign Up</button>
	      <button id="close" class="btn">Cancel</button>
	    </ul>
	  </form>
	</div>
        <div class="modal-footer">
	</div>	
      </div>
    </script>
    <!-- Forgotten Password Template -->
    <script type="text/template" id="tpl-send-reset">
      
      <div class="modal">
        <div class="modal-header">
	   <button type="button" id="closeUp" class="close">×</button>
	  <h3>Password Reset</h3>
	</div>
        <div class="modal-body" id="pw-reset-body">
	  <p>
	   Please submit your email address and you will be sent instructions on how to reset your password.
	  </p>
	  <form>
	    <ul>
	      <input type="text" class="input-block-level" id="email" placeholder="email address">
	      <button class="btn btn-primary" id="sendReset">Reset Password</button>
	      <button id="close" class="btn">Cancel</button>
	    </ul>
	  </form>
	</div>
	<div id="try"></div>
        <div class="modal-footer">
	</div>	
      </div>
    </script> 
    <!-- END Forgotten Password Template -->
  
   <script type="text/template" id="tpl-login">
      
      <div class="modal">
        <div class="modal-header">
	  <h3>Log In</h3>
	</div>
        <div class="modal-body">
	  <form onsubmit="return false">
	    <ul>
	      <input type="text" class="input-block-level" id="username" placeholder="username">
	      <input type="password" class="input-block-level" id="password" placeholder="password">
	      <button class="btn btn-primary" id="login2" type="submit">Login</button>
	      <button id="close" class="btn">Cancel</button>
	    </ul>
	  </form>
	</div>
        <div class="modal-footer">
	  
	</div>	
      </div>
    </script> 
   <!-- END LOGIN TEMPLATE -->
   <script type="text/template" id="tpl-login-error">
      
      <div class="modal">
        <div class="modal-header">
	  <div class="alert alert-error">
	    User does not exist or password is incorrect.
	    </div>
	</div>
        <div class="modal-body">
	  <form>
	    <ul>
	      <input type="text" class="input-block-level" id="username" placeholder="username">
	      <input type="text" class="input-block-level" id="password" placeholder="password">
	      <button class="btn btn-primary" id="login">Sign Up</button>
	      <button id="close" class="btn">Cancel</button>
	    </ul>
	  </form>
	</div>
        <div class="modal-footer">
	  
	</div>	
      </div>
    </script> 
   <!-- END LOG-IN-ERROR TEMPLATE -->

   
    <script type="text/template" id="tpl-gene-sig">
      <h2>Create a New Query</h2>
      <p>Please enter the identifiers in your upregulated and downregulated gene sets and press Submit. Identifiers can be gene symbols, Affymetrix probeset IDs, Entrez Gene IDs, or RefSeq IDs. The identifiers must all be of the same type.</p>
      <form class="form-horizontal">
	     <div class="control-group">
	     	<h3>Up-Regulated Gene Identifiers:</h3>
	       <textarea id="upGenes" rows="10" class="span3"></textarea>
	     </div>
	     <div class="control-group">
			<h3>Down-Regulated Gene Identifiers:</h3>
	       <textarea id="downGenes" rows="10" class="span3"></textarea>
	     </div>
	     <div class="control-group">
	       <h3>New Query Name</h3>
	       <input type="text" id="run_name" >
	     </div>
	     <label class="control-label" for="saveGeneSig"></label>
	     <div class="control-group">
	       <a href="#saveGeneSig" class="saveGeneSig btn btn-primary" >Submit</a>
	     </div>	
      </form>
    </script>
    
    <script type="text/template" id="tpl-navbar-no-login">
    </script>
    <!-- end no login template -->
    <script type="text/template" id="tpl-navbar-yes-login">
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
	  Logged In As <%= username %>
	  <a href="#logout">&nbsp;(Logout)</a>
	</p>
      </div>
    </script>
    <!-- end logged in template -->
    <script type="text/template" id="tpl-progress">
      <div align="center">
        <img src="assets/img/ajax-loader.gif"> <br />
      </div>
    </script>
    
    <!-- End Templates -->
   
    <script src="lib/jquery.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/backbone.js"></script>
    <script src="lib/bootstrap.js"></script>
    <script src="lib/jquery.cookie.js"></script>
	<script src="lib/jquery.dataTables.js"></script>   
    <script src="js/utils.js"></script>
    <script src="js/models.js"></script>
    <script src="js/views.js"></script>
    <script src="js/main.js"></script>
   
  </body>
</html>
